* {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
   background-color: #131313;
   color: #fff;
   padding: 60px;
   padding-top: 30px;
}

h1 {
   font-size: 3rem;
   text-shadow: 2px 5px 5px rgba(0, 156, 156, 0.5);
}

hr {
   color: #fff;
}

input {
   border-radius: 5px;
   border: none;
   color: #555;
   font-size: 1.2rem;
   padding: 5px;
   width: 100%;
}

input:focus {
   box-shadow: 0 0px 15px 5px rgba(0, 156, 156, 0.5);
   outline: solid rgb(2, 145, 145);
}

.card-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   grid-gap: 1.5rem;
   width: 100%;
}

.card {
   border: 3px solid rgb(2, 168, 168);
   border-radius: 10px;
   cursor: pointer;
   max-height: 450px;
   overflow: hidden;
   width: 350px;
   position: relative;
}

.card:hover {
   transform: scale(1.1);
   box-shadow: 0 0px 10px 5px rgba(0, 156, 156, 0.3);
}

.card:hover::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: teal;
   opacity: 0.3;
   z-index: 3;
}

.card p {
   padding: 10px;
   font-size: 1rem;
   text-align: center;
}

.card img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   align-content: center;
}

h2 {
   font-size: 2rem;
   text-transform: capitalize;
   text-shadow: 2px 4px 5px rgba(0, 156, 156, 0.5);
}
